.product__container {
  margin-top: 50px;
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
}

.product__rightContainer {
  flex: 0.8;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.product__rightContainer > p {
  font-size: 19px;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

.product__priceCategory {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 200px;
}

.product__pickle > h3 {
  margin: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.pickle__type {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pickle__types {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.pickle__prices {
  display: flex;
  align-items: flex-start;
  margin-top: -10px;
}

.pickleTypes__btn {
  background-color: black !important;
  border-radius: 30px !important;
  text-transform: inherit;
  margin-right: 40px !important;
  color: tomato !important;
  border: 1px solid rgb(43, 42, 42) !important;
  width: 150px;
}

.honeyTypes__btn {
  background-color: black !important;
  border-radius: 30px !important;
  text-transform: inherit;
  margin-right: 40px !important;
  color: tomato !important;
  border: 1px solid rgb(43, 42, 42) !important;
  width: 200px;
}

.price__btn {
  background-color: white !important;
  border-radius: 30px !important;
  text-transform: inherit;
  margin: 0 5px !important;
  color: "black" !important;
  width: 100px;
}

.honeyprice__btn {
  background-color: white !important;
  border-radius: 30px !important;
  text-transform: inherit;
  margin: 0 5px !important;
  color: "black" !important;
  width: 150px;
}

.price__btn:hover,
.honeyprice__btn:hover {
  background-color: black !important;
  color: tomato !important;
  cursor: pointer;
}

.price__btn:focus,
.honeyprice__btn:focus {
  background-color: black !important;
  color: tomato !important;
  cursor: pointer;
}

.product__price {
  font-size: 18px;
  font-weight: 400;
  padding: 5px 0;
  position: relative;
  left: 60%;
  top: 20px;
  width: 150px;
  text-align: center;
  border-radius: 30px;
  text-transform: inherit;
  background-color: white;
  color: black;
}

.egg__price {
  width: 200px;
}

.product__price:hover,
.egg__price:hover {
  border: none;
  background-color: black;
  color: tomato;
  cursor: pointer;
}
.product__imageDetail {
  width: 280px;
  height: 200px;
  object-fit: contain;
}

@media only screen and (max-width: 888px) {
  .product__container {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    margin: 0 20px;
    width: 80vw;
  }
  .product__priceCategory {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 15px;
    width: 300px;
  }

  .product__rightContainer {
    margin-left: 0px;
    margin-top: 30px;
    width: 70vw;
  }

  .product__price {
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
    left: 50%;
    top: 20px;
    width: 150px;
    text-align: center;
    border-radius: 30px;
    text-transform: inherit;
    background-color: white;
    color: black;
    margin-bottom: 35px;
  }
  .egg__price {
    width: 200px;
  }
  .product__imageDetail {
    width: 100vw;
    height: 180px;
    object-fit: contain;
  }

  .pickle__type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: -15px;
  }

  .pickle__types {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .pickle__prices {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
  }

  .price__btn {
    background-color: white !important;
    border-radius: 30px !important;
    text-transform: inherit;
    margin: 0 5px !important;
    color: "black" !important;
    width: 100px;
    margin-bottom: 10px !important;
  }
}
